<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../statics/portfólio.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
        <nav class="navbar">
            <a href="#sobre">Sobre</a>
            <a href="#projetos">Projetos</a>
            <a href="#contatos">Contato</a>
        </nav>
    </header>
    
    <main>
        <section class="sobre" id="sobre">
            <div class="foto">
                <img class="img-fluid minha-foto" src="../statics/imagens/foto_temporaria3.jpg" alt="foto">
            </div>
            <div>

                <div class="card">
                    <div class="card-body">
                        <h2>Lucas Araujo,</h2>
                        <h3>Desenvolvedor de software</h3>
                        <h5 class="card-title">Olá, muito prazer!</h5>
                        <p class="card-text">Atualmente, estou estudando Desenvolvimento de Software Multiplataforma na Fatec - SJC. Busco sempre aprender novas tecnologias e aprimorar minhas habilidades. Além da minha paixão por programação, sou um amante de jogos e de RPG de mesa.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copetencias">
            <h1>Copetências técnicas</h1>
            <div class="copetencias1">
                <div class="icons">
                    <img src="../statics/imagens/html.png" alt="email">
                    <span>HTML</span>
                </div>
                <div class="icons">
                    <img src="../statics/imagens/css.png" alt="email">
                    <span>CSS</span>
                </div>
                <div class="icons">
                    <img src="../statics/imagens/python.png" alt="email">
                    <span>Python</span>
                </div>
            </div>  
        </section>

        <section class="projetos" id="projetos">
            <h1>Projetos</h1>
            <p>Nesta seção, você encontrará projetos que desenvolvi ao longo da minha trajetória. Cada projeto reflete minha paixão por inovação e aprendizado, abrangendo diversas áreas e tecnologias. Sinta-se à vontade para explorar e conhecer mais sobre cada um deles!</p>
            <div class="api-1">
                <h5>API 2º semestre/2024 1º DSM - Acompanhamento do Desempenho dos Vereadores em Exercício em SJC</h5>
                <p>O projeto teve como objetivo desenvolver uma plataforma interativa para acompanhar o desempenho dos vereadores em exercício na cidade de São José dos Campos. A iniciativa surgiu da necessidade de aumentar a transparência e permitir que os cidadãos pudessem avaliar de forma clara e objetiva as atividades dos seus representantes. A plataforma possui uma seção dedicada a apresentar todos os vereadores, onde cada um tem uma página dedicada com mais informações, além de uma ferramenta que permite aos eleitores compararem o desempenho de diferentes vereadores. O projeto visou não apenas informar os cidadãos sobre o trabalho dos vereadores, mas também incentivá-los a participar mais ativamente da política local.</p>
                <img class="img-fluid api1-img" src="../statics/imagens/API 1.png" alt="API1">
                <button type="button" class="btn btn-primary btn-lg github-api1" onclick="window.open('https://github.com/matheuskarnas/API-1?tab=readme-ov-file', '_blank')">GitHub do projeto</button>
            </div>        
        </section>
    </main>
    
    <footer id="contatos">
        <h1>Contato</h1>
        <p>Se você estiver interessado, pode entrar em contato comigo através das seguintes plataformas:</p>
        <div class="contato">
            <a href="https://www.linkedin.com/in/lucas-araujo-448115329/" target="_blank">
                <img src="../statics/imagens/LinkedIn_logo.png" alt="Linkedin">
            </a>
            <a href="https://github.com/LucasAraujo1016" target="_blank">
                <img src="../statics/imagens/github_logo.webp" alt="GitHub">
            </a>
        </div>
        <p>Ou mande uma mensagem para os seguintes contatos:</p>
        <div class="mensagem">
            <div class="item">
                <img src="../statics/imagens/email.png" alt="email">
                <span>lucas.allbuquerque1234@gmail.com</span>
            </div>    
            <div class="item">
                <img src="../statics/imagens/telefone2.jpg" alt="email">
                <span>(12) 99782-8322</span>
            </div>    
        </div>
    </footer>
</body>
</html>